Repository tictactoeteam/microservices, changes with the owners that CODEOWNERS names for each.
All owners: @kdcptkai31, @dacruz21, @datowlcs, @gruszkat98

Adds Basic UI and navigation; Cart, CartItem, Product classes
  .gitignore
  frontend/src/main/java/edu/saddleback/microservices/frontend/Main.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Product.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/App.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
  frontend/src/main/res/images/cartIcon.png
  frontend/src/main/res/images/loginBackground.jpg
  frontend/src/main/res/images/silkroadlogo.png
  frontend/src/main/res/layout/app.fxml
  frontend/src/main/res/layout/cart.fxml
  frontend/src/main/res/layout/login.fxml
Owners: @kdcptkai31

Fixes linting issues, adds Add to Cart functionality
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Product.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/App.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
  frontend/src/main/res/layout/app.fxml
Owners: @kdcptkai31

Testing if Reformat worked
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Product.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/App.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
Owners: @kdcptkai31

Attempt 2
  frontend/config/checkstyle/checkstyle.xml
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/App.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
Owners: @kdcptkai31

Finalizes all Formating errors, fixes for everyone
  frontend/config/checkstyle/checkstyle.xml
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  services/auth-service/config/checkstyle/checkstyle.xml
  services/cart-service/config/checkstyle/checkstyle.xml
  services/order-service/config/checkstyle/checkstyle.xml
  services/product-service/config/checkstyle/checkstyle.xml
Owners: @kdcptkai31, @dacruz21, @gruszkat98, @datowlcs

Added DB classes for Product Services
  services/product-service/build.gradle
  services/product-service/src/main/java/edu/saddleback/microservices/product/Main.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/DbManager.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/Migration.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/Init.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/model/Product.java
Owners: @datowlcs

Auth Service user registration and login
  .gitignore
  .gitlab-ci.yml
  chart/values.yaml
  docker-compose.yml
  services/auth-service/build.gradle
  services/auth-service/chart/templates/deployment.yaml
  services/auth-service/chart/values.yaml
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/Main.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/controllers/SessionController.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/controllers/UserController.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/DbManager.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/Migration.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/UserDao.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/migrations/Init.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/migrations/PgCrypto.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/db/migrations/UserTable.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/models/User.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/util/ErrorResponse.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/util/InvalidRequest.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/util/RabbitProvider.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/util/TokenUtil.java
  services/gateway/nginx.conf
Owners: @dacruz21

Added API routes for Product to return all products (convert to json) and retun a single product (convert to json)
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
Owners: @datowlcs

Added Dao to Json conversion for search by ID
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
Owners: @datowlcs

Added RabbitProvider and util package
  services/product-service/build.gradle
  services/product-service/src/main/java/edu/saddleback/microservices/product/Main.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/util/RabbitProvider.java
Owners: @datowlcs

Integrates Auth Service into UI
  frontend/build.gradle
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendModels/CreateAccountObject.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendModels/LoginObject.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/SuccessfulAccountCreatedUser.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/SuccessfulLoginToken.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Listener.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Observable.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
  frontend/src/main/res/layout/login.fxml
Owners: @kdcptkai31

Fixes CheckStyle stuff
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/CreateAccountObject.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/LoginObject.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Observable.java
Owners: @kdcptkai31

Fixes all bugs and stylistic changes
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Observable.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
Owners: @kdcptkai31

Fixes all Checkstyle errors to pass lint
  services/product-service/src/main/java/edu/saddleback/microservices/product/Main.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/DbManager.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
Owners: @datowlcs

Fixes review changes
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Observable.java
Owners: @kdcptkai31

Docker compose and k8s redis hostname parity, and gateway fix
  chart/values.yaml
  docker-compose.yml
  services/gateway/chart/values.yaml
Owners: @dacruz21

Makes BackendService a static AppController object
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/BackendServiceObject.java
Owners: @kdcptkai31

Deposit service with tracking and address pools
  .gitignore
  .gitlab-ci.yml
  docker-compose.yml
  services/auth-service/gradle/wrapper/gradle-wrapper.properties
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/controllers/SessionController.java
  services/auth-service/src/main/java/edu/saddleback/microservices/auth/controllers/UserController.java
  services/deposit-service/chart/templates/deployment.yaml
  services/deposit-service/chart/values.yaml
  services/deposit-service/package-lock.json
  services/deposit-service/package.json
  services/deposit-service/src/config/config.ts
  services/deposit-service/src/controllers/addresses.ts
  services/deposit-service/src/controllers/ping.ts
  services/deposit-service/src/controllers/publish.ts
  services/deposit-service/src/controllers/webhook.ts
  services/deposit-service/src/main.ts
  services/deposit-service/tslint.json
  services/gateway/chart/values.yaml
  services/gateway/nginx.conf
Owners: @dacruz21

Fixes lint
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/BackendServiceObject.java
Owners: @kdcptkai31

docker compose and charts
  docker-compose.yml
  services/product-service/chart/templates/deployment.yaml
  services/product-service/chart/values.yaml
Owners: @dacruz21

Testing product table
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/DbManager.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/PgCrypto.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/ProductTable.java
Owners: @datowlcs

Fixed lint spacing
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/DbManager.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/ProductTable.java
Owners: @datowlcs

fix indent
  services/product-service/chart/templates/deployment.yaml
Owners: @dacruz21

Added Spark ping
  services/product-service/src/main/java/edu/saddleback/microservices/product/Main.java
Owners: @datowlcs

fix indent
  services/product-service/chart/templates/deployment.yaml
Owners: @dacruz21

aaaaa
  services/gateway/nginx.conf
  services/order-service/src/main/java/edu/saddleback/microservices/order/Main.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/DbHandler.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/Init.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/Migration.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/PgCrypto.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/UserTable.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/dbManager.java
Owners: @dacruz21, @gruszkat98

aa
  services/order-service/build.gradle
Owners: @gruszkat98

a
  services/order-service/build.gradle
Owners: @gruszkat98

Changed auth_perms to product_perms in init
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/Init.java
Owners: @datowlcs

aa
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/DbManager.java
Owners: @gruszkat98

Im dumb and left out a space and the database wasn't being created lol
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/ProductTable.java
Owners: @datowlcs

aa
  .DS_Store
  services/.DS_Store
  services/order-service/.DS_Store
  services/order-service/src/main/java/edu/saddleback/microservices/order/Main.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/DbHandler.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/DbManager.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/UserTable.java
Owners: @gruszkat98

Fixed ProductDao, need to add insert function
  services/product-service/src/main/java/edu/saddleback/microservices/product/controllers/ProductController.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
  services/product-service/src/main/java/edu/saddleback/microservices/product/model/Product.java
Owners: @datowlcs

lol
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/DbManager.java
Owners: @gruszkat98

Lint fix
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/ProductDao.java
Owners: @datowlcs

wip
  services/order-service/src/main/java/edu/saddleback/microservices/order/Main.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/DbHandler.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/DbManager.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/Migration.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/migrations/Init.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/migrations/PgCrypto.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/db/migrations/UserTable.java
  services/order-service/src/main/java/edu/saddleback/microservices/order/shitidontunderstand/UserTable.java
Owners: @gruszkat98

fix bad index
  services/product-service/gradle/wrapper/gradle-wrapper.properties
  services/product-service/src/main/java/edu/saddleback/microservices/product/db/migrations/ProductTable.java
Owners: @datowlcs

fix if statement
  services/product-service/src/main/java/edu/saddleback/microservices/product/Main.java
Owners: @datowlcs

helm chart
  services/order-service/chart/templates/deployment.yaml
  services/order-service/chart/values.yaml
Owners: @dacruz21

fixes
  services/order-service/chart/templates/deployment.yaml
Owners: @dacruz21

CODEOWNERS:

# Libraries

# Frontend App
/frontend/ @kdcptkai31

# Services
/services/gateway/ @dacruz21
/services/auth-service/ @dacruz21
/services/product-service/ @datowlcs
/services/deposit-service/ @dacruz21
/services/order-service/ @gruszkat98

# Helm Charts
/chart/ @dacruz21
**/chart/ @dacruz21

.drone.yml @dacruz21
docker-compose.yml @dacruz21
