Repository tictactoeteam/microservices, changes with the owners that CODEOWNERS names for each.
All owners: @kdcptkai31, @dacruz21, @datowlcs, @gruszkat98

CODEOWNERS:

# Libraries

# Frontend App
/frontend/ @kdcptkai31

# Services
/services/gateway/ @dacruz21
/services/auth-service/ @dacruz21
/services/product-service/ @datowlcs
/services/deposit-service/ @dacruz21
/services/order-service/ @gruszkat98

# Helm Charts
/chart/ @dacruz21
**/chart/ @dacruz21

.drone.yml @dacruz21
docker-compose.yml @dacruz21

fix that damn scientific notation bug
  .gitlab-ci.yml
Owners: none

log debug messages
  .gitlab-ci.yml
Owners: none

Integrates Product Service to populate lists
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/CreateAccountController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/GetAllProductsController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/LoginController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/SuccessfulAccountCreatedUser.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/SuccessfulLoginToken.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/Listener.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Product.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/observable/Observable.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
  frontend/src/main/res/layout/cart.fxml
Owners: @kdcptkai31

Fixes UI running after windows exited
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/App.java
Owners: @kdcptkai31

Finishes product service, integrates some cart service, adds to cart UI
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/GetAllProductsController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/GetCartController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/GetProductController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/backendmodels/HollowCartObject.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Product.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/AppView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/LoginView.java
  frontend/src/main/res/layout/cart.fxml
Owners: @kdcptkai31

Fixes lint
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/GetCartController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/Cart.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
Owners: @kdcptkai31

Disable gateway ingresses in branch deploys
  chart/values_pr.yaml
  chart/values_prod.yaml
Owners: @dacruz21

Integrates cart service into the cart UI
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/AppController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/DeleteCartController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/UpdateCartController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/interfaces/BackendService.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/model/CartItem.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
  frontend/src/main/res/layout/cart.fxml
Owners: @kdcptkai31

Integrates cart service when buying products
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/ProductBox.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/SceneCoordinator.java
Owners: @kdcptkai31

Fixes lint
  frontend/src/main/java/edu/saddleback/microservices/frontend/controller/UpdateCartController.java
  frontend/src/main/java/edu/saddleback/microservices/frontend/view/CartView.java
Owners: @kdcptkai31
